@import "../css/materialize.min.css"
@import "../css/materialize-icon.css"
@import "../css/icon-moon.css"

a
article
aside
body
div
figcaption
figure
h1
h2
h3
h4
header
input
li
p
section
select
option
span
table
tbody
textarea
th
thead
tr
ul
ol
video
img
		box-sizing border-box
		margin 0
		padding 0
a
	text-decoration none
	color white
li
	list-style none
body
	background #eff2e7
	font-family "Sans-Serif" "Comic Sans MS"
	font-size 16px
img
	vertical-align top


//Decoration
.sub-border
		background red
		width 200px
		height 5px
		border-radius  0 .5em 0 0
.border-bottom-red-1
		border-bottom 1px solid red
.border-bottom-red-2
		border-bottom 2px solid red
.border-top-white-1
		border-top 1px solid white
.border-top-white-2
		border-top 2px solid white
.font-weight-bold
		font-weight bold
.font-shadow-black
		text-shadow 1px 1px 7px black
.box-shadow-white
		box-shadow 1px 1px 6px white
.box-shadow-black
		box-shadow 1px 1px 6px black
.top-25
		top 25%
.right-0
		right 0%
.padding-2
		padding .25em
.padding-up-down
		padding .5em 0
.padding-up-down-1
		padding 1em 0
.padding-up-down-2
		padding 2.5em 0
.padding-left-right-2
		padding 0 .25em
.margin-up-down-1
		margin 1em 0
.text-justify
	text-align justify
//Web Header
.main-header
		position absolute
		top 0
		width 100%
		z-index 100
		background rgba(black, .3)
		padding .5em
		display flex
		justify-content space-between
		align-items center
		&-logo
				.material-placeholder
						>img
								height 40px
								width 40px
						    border-radius 50%
						    border 2px solid white
						    box-shadow 1px 1px 5px black
						    background-color white
		&-title
				>h1
						font-size 1.5em
// Web Footer
.footer-logo
		display flex
		justify-content center
		margin 1em 0
		height 120px
		img
				width 250px
//Carousel
.slider
		.slides
				li
						.caption
								top 75%
.indicators
		z-index 100

.slider
		.indicators
				bottom 1%
.caption
		>h3
				font-size 1.3em
		>h5
				font-size 1em
//Menu Section
.item
		&-content
			>img
					width 250px
					height 250px
//Menu NS
.bar-sn
		border-top 1px solid #c2e1f5
		border-bottom 1px solid #c2e1f5
		border-right 1px solid #c2e1f5
		left -68px
		border-radius 0 .5em .5em 0
		transition .3s
		height 350px
		&:hover
				left 0
.bar-system
		border-top 1px solid #c2e1f5
		border-bottom 1px solid #c2e1f5
		border-left 1px solid #c2e1f5
		right -68px
		height auto
		border-radius .5em 0 0 .5em
		transition .3s
		top 35%
		&:hover
				right 0
.menu
		position fixed
		box-shadow 2px 3px 16px #000000
		z-index 100
		transition all 0.3s ease

		overflow-y auto
		&::-webkit-scrollbar
			display  none
		>a
				display block
				width 100%
				text-align center
				padding .5em

				>img
						border 1px solid white
						background white
						overflow hidden
						border-radius 50%
						width 64px
						height 64px
						transition all 0.3s ease
						box-shadow 1px 1px 5px white
				&:hover
					>img
						box-shadow 1px 1px 5px gold
						border 1px solid gold
						transform scale(1.2)	rotate(360deg)

//Paralax Philosophy
.blank
		background rgba(black, .3)
		height 20px
		width 100%
.inside-styles
		border-radius .5em
		background rgba(black, .2)
		padding .5em
		position absolute
		top 50%
		left 50%
		width 320px
		transform translate(-50%,-50%)

//Post
.services
		display flex
		flex-wrap wrap
		width 100%
		flex-direction row
.post
		width 100%
		&-modal
				display block
				width 100%
				height 320px
				transition .3s
				border 1px solid transparent
				&:hover
						border 1px solid white
						box-shadow 2px 2px 10px white
				>figure
						width 100%
						height 100%
						position relative
						transition .3s
						z-index 100
						&:hover
								>figcaption
										bottom 0%
						>div
								overflow hidden
								width 100%
								height 100%
								transition .3s
								&:hover
										transform scale(1.2)
								>img
										transition .3s
										width 100%
										height 100%

						>figcaption
								border-top 1px solid white
								transition .3s
								display block
								position absolute
								width 100%
								background rgba(black, .3)
								bottom -25%
//Modal
.modal
		.modal-content
				padding 0
.modal-nav
		padding .5em
		display flex
		justify-content space-between
		align-items center
		width 100%
		z-index 100
		>div
				>h2
						font-size 1.5em
		>figure
				.material-placeholder
						>img
								height 40px
								width 40px
						    border-radius 50%
						    border 2px solid white
						    box-shadow 1px 1px 5px black
						    background-color white

.modal-detail
		&-main
				>div
						>img
								width 100%
								min-height 200px
				&-content
						>p
							border-radius .5em
							max-height 200px
							overflow-y auto
							border 1px solid gray
							background white
							box-shadow 1px 1px 6px black
							padding .5em
							margin .5em
							text-align justify
.modal-content-body
		width 100%
//Modal-Carousel
.modal-content
		.carousel
				>a
						>img
								height 200px
								width 300px
//Fullscreen
.modal
		background #eff2e7

.modal-fullscreen.open{
    width: 100%;
    max-height: 100%;
    height: 100%;
    top: 0 !important;
}

.modal-fullscreen > .modal-content {
  height: calc(100% - 56px);
}
.collapsible
	margin 0

@media (min-width: 576px)
		.post
				width 50%
				&-modal
						display block
		.modal-content-body
				display  flex
				justify-content center
		.modal-detail
				margin 40px
				width 65%
				&-main
						>div
								display flex
								justify-content center
								>img
										box-shadow 1px 1px 6px black
										border-radius .3em
										width 87%
										height 350px

		.caption
				>h3
						font-size 2.2em
				>h5
						font-size 1.5em
		.inside-styles
				width 600px
		.main-header
				&-title
						>h1
								font-size 2.7em
				&-logo
						.material-placeholder
								>img
										height 95px
										width 95px
		//Modal-Carousel
		.modal-content
				.carousel
						>a
								>img
										height 250px
										width 620px
		.modal-nav
				>div
						>h2
								font-size 2.0em
				>figure
						.material-placeholder
								>img
										height 64px
										width 64px
@media (min-width: 1200px)
		.post
				width 25%
