<!DOCTYPE html>
<html>
  <head>
    <!-- Lettes -->
    <meta charset="utf-8">
    <!-- Mobile -->
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<!-- Compatibility Internet Explorer -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- Title -->
    <title>.:: Quality Global ::.</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" href="../static/media/images/ico/favicon.ico" />
  </head>
  <body>
        <div id="main">
        </div>
        <script type="text/javascript" src="../static/js/bundle.js"></script>
  </body>
</html>
